/node_modules
/public/hot
/public/storage
/public/assets
/public/css
/public/js
/storage/debugbar/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/ckeditor_4.12.1_standard/
/public/images/
