.content {
    border: 1px solid #f5f7f9;
    box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2);
    background: white;
    height: 550px;
    top: 0px;
    overflow-y: scroll;
}
.container.top {
    margin-top: 100px;
}
h3.border_bottom {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.detail img {
    transform: translateY(-17px);
    width: 150px;
    height: 150px;
    box-shadow: 0 0 10.32px 1.68px rgba(0,0,0,.2);
}
.detail {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    height: 200px;
}
.detail p {
    font-size: 10px;
    color: #797979;
}
.right p {
    margin-top: 2%;
}
.above {
    margin-top: 150px;
    margin-bottom: 100px;
}
.above img {
    width: 170px;
    height: 270px;
}
.under img {
    width: 70px;
    height: 70px;
}
.comment {
    border: 1px solid #f5f7f9;
    box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2);
    background: white;
    position: sticky;
    top: 0px;
    z-index: 10000000;
}
.comment img {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.reply img {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.reply_btn:hover {
    cursor: pointer;
    color: blue;
}
.reply {
    display: none;
}
.copyright__wrapper {
    margin-top: 80px;
    border-top: 1px solid #ccc;
}
.copyright__wrapper p {
    transform: translateX(300px);
}
.under textarea {
    width: 100%; height: 70px;
}
.gmail_comment {
    font-size: 12px;
}
.reply textarea {
    width: 100%;
    height: 30px;
}
.first__img {
    width: 200px;
    height: 300px;
}
